@font-face {
    font-family: 'Montserrat';
    src: url(font/Montserrat-VariableFont_wght.ttf);
}

.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

.toggler-icon{
    width: 20px;
    height: 3px;
    background-color: #777777;
    display: block;
    transition: all 0.2s;
}

.middle-bar{
    margin: 2px auto;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: #777777;
}

.titel-gede{
    font-family: 'Montserrat';
    font-weight: bolder;
    padding-bottom: 0;
    line-height: 0.5;
    margin-top: 10px;
}

.titel-kecil{
    font-family: 'Montserrat';
    font-weight: light;
    font-size: 15px;
}

.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}

.lol{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    font-size: 70px;
    font-family: "Montserrat";
    font-weight: bolder;
}

.testing{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    font-size: 70px;
    font-family: "Montserrat";
    font-weight: bolder;
}

.navbar-toggler::after {
    content: "";
    position: fixed;
    top: 50px; /* Awal dari margin-top 50px */
    left: 0;
    width: 100%;
    height: calc(100%); /* Sesuaikan tinggi sesuai margin-top akhir */
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s, opacity 0.3s, visibility 0.3s;
    z-index: -1; /* Posisikan di belakang tombol */
}

.navbar-toggler:not(.collapsed)::after {
    top: 204px; /* Akhir dari margin-top 204px */
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    animation: slideDown 0.35s forwards;
}

@keyframes slideDown {
    0% {
        top: 50px;
        opacity: 0;
    }
    100% {
        top: 204px;
        opacity: 1;
    }
}